.App {
  text-align: center;
  color: #88ccff;
}

* {
  background: lightgoldenrodyellow;
}

input {
  background: white;
  line-height: 1.5;
  padding-left: 0.1rem;
  margin-right: 5px;
}

button {
  background: #88ccff;
  color: white;
}
